$primary-color: #EE6E73;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  a {
    color: $primary-color;
  }

  .fa.fa-4 {
    color: $primary-color;
    font-size: 7em;
  }
}

main {
  flex: 1 0 auto;
}

img.center {
  display: block;
  margin: 0 auto;
}

.chip {
  margin: 2px 0;
}

.page {
  margin-top: 100px;

  h1 {
    text-align: center;
  }
}

.contacts, .blogs {
  padding: 100px 0;
}

.contacts .contact .caption {
  font-size: 2em;
}

footer.page-footer .footer-copyright {
  background: none;
  text-align: center;
}

