body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

img.center {
    display: block;
    margin: 0 auto;
}

.chip {
    margin: 2px 0;
}


.fa.fa-4 {
    color: black;
    font-size: 7em;
}

.contacts {
   margin-top: 100px;
}

