<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/gen/styles.css">
    <title>Arthur Vincent Simon</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header class="teal">
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="#!" class="brand-logo">Arthur Vincent Simon</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="{{ SITEURL }}/">About</a></li>
                            <li><a href="{{ SITEURL }}/contacts">Contact</a></li>
                            <li><a href="{{ SITEURL }}/blog">Blog</a></li>
                        </ul>
                        <ul id="mobile-demo" class="side-nav">
                            <li><a href="{{ SITEURL }}/">About</a></li>
                            <li><a href="{{ SITEURL }}/contacts">Contact</a></li>
                            <li><a href="{{ SITEURL }}/blog">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="footer-copyright">
                @ 2016 Arthur Vincent Simon. All Rights Reserved
            </div>
        </div>
    </footer>
    {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script src="/static/gen/app.js"></script>
    {% endblock %}
</body>
</html>
