{% extends "base.html" %}

{% block main %}
<div class="container">
    <img class="center responsive-img materialboxed" src="http://loremflickr.com/600/240" alt="">
    <h1 class="center">Hi! I am Arthur Vincent Simon.</h1>
    <p>I am a Generalist Web Developer who focuses on the frontend side of Web Development.</p>
    <p>Over the past 8 years, I have worked on projects for companies such as Global Digital Services and <a href="http://www.innovuze.com/">Innovuze Solutions Inc</a>. I also did some freelance work with clients with New Zealand.</p>
    <p>When I started computer programming in college, I did not have any expectations for the field. I started from the ground up, creating my firest program in the terminal. I then moved on to create website solutions. For a brief stint in college, we were expected to learn Matlab by ourselves. But interest in website creation is what stuck with me. I was lucky that it coincided with the rise of the internet to the mainstream.</p>
    <p>Since then, I have been continually honing my skills in creating websites. This includes trying to architecture solutions with good documentation, optimize static assets,creating painless deployment and creating clean and minimalistic interfaces.</p>
</div>
{% endblock %}
