{% extends "base.html" %}

{% block main %}
<div class="container">
    <!--<img class="center responsive-img materialboxed" src="http://loremflickr.com/600/240" alt="">-->
    <h1 class="center">Hi! I am a Full Stack Web Developer.</h1>
    <p class="flow-text">Over the past 8 years, I have worked on projects for companies such as Global Digital Services and <a href="http://www.innovuze.com/">Innovuze Solutions Inc</a>. I also did some freelance work with clients with New Zealand.</p>
    <p class="flow-text">When I started computer programming in college, I did not have any expectations for the field. I started from the ground up, creating my firest program in the terminal. I then moved on to create website solutions. For a brief stint in college, we were expected to learn Matlab by ourselves. But interest in website creation is what stuck with me. I was lucky that it coincided with the rise of the internet to the mainstream.</p>
    <p class="flow-text">Since then, I have been continually honing my skills in creating websites. This includes trying to architecture solutions with good documentation, optimize static assets,creating painless deployment and creating clean and minimalistic interfaces.</p>


    <h4>Skills</h4>
    <div class="divider"></div>
    <div class="section">
        <h5>Frontend</h5>
        <p>I started with <a href="http://mootools.net">Mootools</a> but switched to <a href="https://jquery.com">jQuery</a> during my freelancing stint. I am working right now with <a href="http://underscorejs.org">Underscore</a>/<a href="https://lodash.com">Lodash</a>, <a href="https://facebook.github.io/react">React</a> and <a href="http://redux.js.org/">Redux</a></p>
    <div class="section">
        <h5>Backend</h5>
        <p>I have been using <a href="http://php.net">PHP</a> for the first 8 years of my career. In that time I have delved deeply into
            <a href="https://www.codeigniter.com/">Codeigniter</a> and <a href="https://ellislab.com/expressionengine">ExpressionEngine</a> while gaining experience with
            <a href="https://laravel.com/">Laravel</a>. I am now working with <a href="https://www.python.org/">Python</a>. I have converted a
            <a href="https://spring.io/">Java Spring</a> project into <a href="https://www.djangoproject.com/">Django</a>.
        </p>
    </div>
    <div class="section">
        <h5>Collaboration</h5>
        <p>I have experience with agile methodologies such <a href="https://en.wikipedia.org/wiki/Scrum_(software_development)">Scrum</a> and <a href="https://en.wikipedia.org/wiki/Kanban_(development)">Kanban</a> and team collaboration tools like
            <a href="https://www.atlassian.com/software/jira">JIRA</a></p>
    </div>
    <div class="section">
        <h5>Version Control</h5>
        <p>I started using <a href="https://subversion.apache.org/">Subversion</a> early on. I eventually moved on to use <a href="https://git-scm.com/">Git</a> on a daily basis using
            <a href="https://www.sourcetreeapp.com/">SourceTree</a></p>
    </div>

    <table class="responsive-table">
        <thead>
            <tr>
                <th>Major skills(everyday usage)</th>
                <th>Minor skills(past experience)</th>
                <th>Worked with/touched upon</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div>
                        <div>
                            <p>
                                <strong>Javascript(ES5 and ES2015)</strong> - jQuery, React, Redux, Lodash, Underscore
                            </p>
                        </div>

                        <p>
                            <strong>Python</strong> - Django, Django Rest Framework
                        </p>

                        <strong>HTML5</strong>
                    </div>
                </td>
                <td>
                    <p>
                        <strong>PHP</strong> - Laravel, ExpressionEngine, Codeigniter
                    </p>

                    <strong>MySQL</strong>

                    <p>
                        <strong>CSS3</strong> - BootStrap, SASS, LESS
                    </p>
                </td>
                <td>
                    <p>
                        <strong>Java</strong>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

    <h4>Experience</h4>
    <div class="divider"></div>
    {% for item in EXPERIENCE_HISTORY %}
            <div class="row">
                <div class="col s12 m12 l4">
                    <h5>{{ item.job_title }}</h5>
                </div>
                <div class="col s12 m12 l4">
                    <h6>{{ item.company_name }}</h6>
                </div>
                <div class="col s12 m12 l4">
                    {% for tool_tag in item.tool_tags %}
                        <div class="chip">{{ tool_tag }}</div>
                    {% endfor %}
                </div>
            </div>
    {% endfor %}

    <h4>Academic Attainment</h4>
    <div class="divider"></div>
    {% for item in ACADEMIC_ATTAINMENT %}
        <div class="row academic-attainment">
            <div class="col s12 m12 l4">
                <h5>{{ item.school }}</h5>
            </div>
            <div class="col s12 m12 l4">
                <h6>{{ item.degree }}</h6>
            </div>
            <div class="col s12 m12 l4">
                {% for tool in item.tags.tools %}
                    <div class="chip">{{ tool }}</div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

